<!DOCTYPE html>
<html>
<head>
    <title>Renee and Chad Schulz</title>

    <script src="js/lib/jquery-1.10.2.min.js"></script>
    <script src="js/html5shiv.js"></script>

    <link rel="stylesheet" type="text/css" href="css/racs.min.css?d=1378268860503" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <header>
        <div class="container-min">
            <h1>
                <span class="header-chad">Chad</span>
                <span class="header-ampersand">&amp;</span>
                <span class="header-renee">Renee</span>
            </h1>
            <div class="header-date">
                <p>October</p>
                <p>twenty-sixth</p>
                <p>2&#8226;0&#8226;1&#8226;3</p>
            </div>
        </div>
    </header>