<% include _header.html %>

<section>
    <div class="container">
        <h2>Save the Date</h2>
        <iframe class="video" src="//player.vimeo.com/video/60330142?byline=0&amp;portrait=0" width="800" height="534" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</section>

<section>
    <div class="container">
        <h2>Hotel Information</h2>

        <p class="center">Mariott Courtyard - Milwaukee Downtown<br />
            300 W Michigan St.<br />
            Milwaukee, WI 53203<br />
            <a href="tel:1-800-321-2211" class="small">1-800-321-2211</a></p>

        <p class="center small">Book By October 4th // Check in is at 3:00 pm // Check out is at noon<br />
            Street/Garage Parking // Free Shuttle To/From // Rooms are Limited -- Mention 'Dodge/Schulz'<br />
            Also may need to mention the 'Downtown Milwaukee' location</p>
    </div>
</section>

<section>
    <div class="container">
        <h2>Ceremony &amp; Reception</h2>

        <p class="center">Pritzlaff Building<br />
            143 West St Paul Ave<br />
            Milwaukee, WI 53203<br />
            5:30 pm</p>

        <a href="/rsvp" class="center">RSVP By October 1st</a>
    </div>
</section>

<% include _footer.html %>