<% include _header.html %>

<section>
    <div class="container-min">

        <div class="rsvp-form">
            <form action="/send" method="post" class="form">
                <p class="center">Enter the names of all that will/won't be attending.</p>
                <p class="center">Note: No dinner choice, served via stations.<br />Wedding is an adult affair.</p>
                <label>
                    <input type="radio" name="attendance" value="Can't wait to see you!" checked="checked" /> Can't wait to see you! <span class="plain">:)</span>
                </label>
                <label>
                    <input type="radio" name="attendance" value="Unfortanately we can't make it." /> I/we can't make it. <span class="plain">:(</span>
                </label>
                <textarea name="rsvp" rows="10" placeholder="Enter name and other notes here."></textarea>

                <input type="submit" id="submit" value="Send!" />
            </form>
        </div>

        <div class="rsvp-success" style="display:none">
            <p class="center">We got your info! You now have food and alcohol reserved.</p>
            <a href="/" class="center">Wedding Details</a>
        </div>

    </div>
</section>

<script>
    $(function () {
        $('#submit').on('click', function (event) {
            event.preventDefault();

            var attendees = $('#rsvp').val();

            if (attendees !== '') {
                $.ajax({
                    url: '/send',
                    data: {
                        rsvp: $('.form textarea').val(),
                        attendance: $('.form input[type="radio"]:checked').val()
                    },
                    type: 'POST',
                    success: function () {
                        $('.rsvp-form').hide();
                        $('.rsvp-success').show();
                    },
                    error: function () {
                        $('.rsvp-form').hide();

                    }
                });
            }
        });
    })
</script>

<% include _footer.html %>