<% include _header.html %>

<section>
    <div class="container-min">

        <div class="rsvp-form">
            <form action="/send" method="post">
                <p class="center">Enter the names of all that will be attending.</p>
                <p class="center">Note: No dinner choice, served via stations.<br />Wedding is an adult affair.</p>
                <textarea id="rsvp" name="rsvp" rows="10"></textarea>

                <input type="submit" id="submit" value="See you soon!" />
            </form>
        </div>

        <div class="rsvp-success" style="display:none">
            <p class="center">We got your info! You now have food and alchol reserved.</p>
            <a href="/" class="center">Wedding Details</a>
        </div>

    </div>
</section>

<script>
    $(function () {
        $('#submit').on('click', function (event) {
            event.preventDefault();

            var attendees = $('#rsvp').val();

            if (attendees !== '') {
                $.ajax({
                    url: '/send',
                    data: {
                        rsvp: $('#rsvp').val()
                    },
                    type: 'POST',
                    success: function () {
                        $('.rsvp-form').hide();
                        $('.rsvp-success').show();
                    },
                    error: function () {
                        $('.rsvp-form').hide();

                    }
                });
            }
        });
    })
</script>

<% include _footer.html %>