<!DOCTYPE html>
<html>
<head>
    <title>Save The Date | Renee and Chad Schulz</title>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" href="css/racs.min.css" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <header>
        <div class="container-min">
            <h1>
                <span class="header-chad">Chad</span>
                <span class="header-ampersand">&amp;</span>
                <span class="header-renee">Renee</span>
            </h1>
            <div class="header-date">
                <p>October</p>
                <p>twenty-sixth</p>
                <p>2&#8226;0&#8226;1&#8226;3</p>
            </div>
        </div>
    </header>

    <section>
        <div class="container-min">

            <form action="/send" method="post">
                <label>
                    Enter the names of all that will be attending. See you soon!
                    <textarea name="rsvp" rows="10"></textarea>
                </label>

                <input type="submit" value="See you soon!" />
            </form>

        </div>
    </section>

    <script src="js/script.min.js"></script>

</body>
</html>