<!DOCTYPE html>
<html>
<head>
    <title>Save The Date | Renee and Chad Schulz</title>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" href="css/racs.min.css" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <nav>
        <div class="container">
            <h1>
                <span class="header-renee">Renee</span>
                <span class="header-ampersand">&amp;</span>
                <span class="header-chad">Chad</span>
                <!-- <span class="header-schulz">Schulz</span> -->
            </h1>
            <span class="info">Continue to check back!</span>
        </div>
    </nav>

    <section>
        <div class="container">

            <h2>Still working on this -- please check back to RSVP after Labor Day. Have a great weekend!</h2>

        </div>
    </section>

    <script src="js/script.min.js"></script>

</body>
</html>