.container {
    margin: 0 auto;
    width: 960px;
}
.container-min {
    margin: 0 auto;
    width: 600px;
}

.header-date {
    margin: -10px auto 0;
    width: 300px;

    p {
        border-bottom: 1px solid #F4F4F4;
        font-family: @font-fancy;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 12px;
        line-height: 18px;
        margin: 0;
        padding: 4px 0;
        text-align: center;
        text-transform: uppercase;
    }
    p:last-child { border: none; }
}

.main, .side {
    display: inline-block;
    float: left;
}
.main {
    margin-right: 20px;
    width: 640px;
}
.side {
    padding: 10px 15px;
    width: 270px;
}

.sidebar {
    background-color: #74A6B5;
}

// Activity
.activity-entry {
    background-color: #fff;
    color: #333;
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    position: relative;

    .avatar {
        height: 35px;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 35px;
    }

    .date {
        color: #666;
        display: block;
        font-size: 0.8em;
        font-style: italic;
    }
}