@import url(http://fonts.googleapis.com/css?family=Raleway:900);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
@import url(http://fonts.googleapis.com/css?family=Life+Savers:700);

@font-ampersand:    'Oleo Script Swash Caps', cursive;
@font-chad:         'Raleway', sans-serif;
@font-renee:        'Life Savers', cursive;
@font-schulz:       'Raleway', sans-serif;

@font-racs:         'Life Savers', cursive;
@font-standard:     arial, helvetica, sans-serif;

@byte-blue:         rgb(199, 219, 225);
@unique-gray:       rgb(203, 201, 204); // #D3CABD
@realist-beige:     rgb(211, 202, 189);

@import '_mixins';

@import '_reset';
@import '_main';
@import '_layout';
@import '_navigation';

@import '_mixins';

@media screen and (min-width: 960px) {

}

@media screen and (max-width: 959px) {
    .container { width: 100%; }

    nav {
        h1 {
            font-size: 2.5em;
            margin: 14px 0 0 20px;
        }
        .info { display: none; }
    }
}

@media screen and (max-width: 649px) {

}