@font-face {
    font-family: 'AffairRegular';
    src: url('../font/affair-webfont.eot');
    src: url('../font/affair-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/affair-webfont.woff') format('woff'),
         url('../font/affair-webfont.ttf') format('truetype'),
         url('../font/affair-webfont.svg#affairregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-cursive:      'AffairRegular', cursive;
@font-standard:     Arial, Helvetica, sans-serif;

@byte-blue:         rgb(199, 219, 225);
@unique-gray:       rgb(203, 201, 204); // #D3CABD
@realist-beige:     rgb(211, 202, 189);

@import '_mixins';

@import '_reset';
@import '_main';
@import '_layout';
@import '_navigation';

@import '_mixins';


@media screen and (max-width: 600px) {
    .container,
    .container-min {
        padding: 0 2%;
        width: 96%;

        label,
        input,
        textarea { width: 98%; }
    }

    header {
        h1 {
            font-size: 40px;
            margin: 15px 0 0;

            .header-ampersand,
            .header-renee,
            .header-chad {
                display: inline-block;
                margin: 0;
                font-size: 40px;
            }
        }

        .header-date {
            width: 100%;

            p { font-size: 12px; padding: 1px 0; }
        }
    }
}
